.App {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}
.Body{
  margin: 0%;
  padding: 0%;
}
.TitleSection{
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.TitleSection input{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(27, 133, 204);
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button{
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button :hover{
  cursor: pointer;
}

.DisplayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 14px 12px;
  
}
.DisplayCard h4, h3 {
 margin: 5px;
}



/* Colors */
 :root {
  --default_rgba: rgba(238, 129, 48, 0.00001);
  --normal: #A8A77A;
  --fire: #ee8130;
  --water: #6390F0;
  --grass: #7AC74C;
  --posion: #A33EA1;
  --electric: #F7D02C;
  --ice: #96D9D6;
  --fighting: #C22E28;
  --fairy: #D685AD;
  --ghost: #735797;
  --flying: #A98FF3;
  --psychic: #F95587;
  --steel: #B7B7CE;
  --dark: #705746;
  --dragon: #6F35FC;
  --bug: #A6B91A;
  --ground: #e2bf65; 
  --rock: #b6a136;
 }


 /*color types*/

 .normal {
  background-color: var(--normal)!important;
 }
 .fire {
  background-color: var(--fire) !important;
 }
 .grass {
  background-color: var(--grass)!important;
 }
 .posion {
  background-color: var(--posion)!important;
 }
 .electric {
  background-color: var(--electric)!important;
 }
 .ice {
  background-color: var(--ice)!important;
 }
 .fighting {
  background-color: var(--fighting)!important;
 }
 .fairy {
  background-color: var(--fairy)!important;
 }
 .ghost {
  background-color: var(--ghost)!important;
 }
 .flying {
  background-color: var(--flying)!important;
 }
 .water {
  background-color: var(--water)!important;
 }
 .ground {
  background-color: var(--ground)!important;
 }
 .dark {
  background-color: var(--dark)!important;
 }
 .psychic {
  background-color: var(--psychic)!important;
 }
 .steel {
  background-color: var(--steel)!important;
 }
 .rock {
  background-color: var(--rock)!important;
 }
 .dragon {
  background-color: var(--dragon)!important;
 }
 .bug {
  background-color: var(--bug)!important;
 }

 /*text colors*/



 /*Details Page*/

 .overview {
  line-height: 30px;
  font-size: 20px;
  font-family: "OldSansBlack";
}
.container-info {
  padding: 14px 10px;
  border-radius: 10px;
}

.info-item {
  width: 50%;
  margin-bottom: 30px;
}


/* Info Page */
/* increase the size and move the button */
.container-versions button{
  
  width: 70px;
  height: 40px;
  justify-content: center;

}

/* justify content makes a space between each of the bars */
/* flex wrap to let it be more fluid */
/* display flex  to allow it to move*/
.container-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 15px;
  padding: 14px 15px;
}

.bar-item{
  width: 100px;
}
/* make the height bar 200 */
.bar{
  height: 200px;
  position: relative;
  border-radius: 4px;
}

/* move the text under and in the middle of the bar */
.bar-active {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* postionn  absolute means that the the elemnt is removed from the doc flow and it can move and not disrupt the other elemnts  */
.container-label {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: center;
}

